@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.logo-text {
    background-image: linear-gradient(60deg, #44acf1, #6dd5fa);
    background-clip: text;
    color: transparent;
}

.form-color {
    background-image: linear-gradient(120deg, #141E30, #243B55) !important;
}

.btn-color {
    color: linear-gradient(60deg, #44acf1, #6dd5fa);
}


.logo-title {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    background-image: linear-gradient(60deg, #44acf1, #6dd5fa);
    background-clip: text;
    color: transparent;
}

.font {
    letter-spacing: 1px;
    font-size: 10px;
    text-align: left;
    color: #fff;
}

.form-background {
    background-image: linear-gradient(120deg, #16222A, #243B55);
}

.subMenu {
    font-size: 11px;
    font-weight: normal;
    font-family: Century Gothic;
}

.moduleTitle {
    font-size: 18px;
    font-weight: bold;

}

.login-text {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
}

/* .logintoelixir{
    color: #201365;
    font-size: 20px;
    font-weight: bold;
    
} */

.font-login {

    font-size: 17px;
    color: #2a197e;
}

.btn-login {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.swal2-popup {
    font-size: 11px !important;
    font-family: 'Montserrat', sans-serif;
}

.opacityForm {
    opacity: 0.75;
}

.swal2-container {
    z-index: 10000;
}

.uppercase {
    text-transform: uppercase !important;
}

.filteredData {
    font-size: 13px;
    border: 3px;
    border-color: #16222A;
    background: #F1F3F4;
    padding-left: 5px;
    z-index: 1;


    position: absolute;
    max-height: 150px;
    width:100%;
    overflow: hidden;
    overflow-y: scroll;
}

.inputUpperCase{
    text-transform: uppercase !important;
}

.inputLowerCase{
    text-transform: lowercase !important;
    /* justify-content: center; */
    /* align-items: ; */
    width: 43px;
    /* height: 30px; */
    text-align: center;
}

.inputCapital{
    text-transform: capitalize !important;
    /* justify-content: center; */
    /* align-items: ; */
    width: 43px;
    /* height: 30px; */
    /* text-align: center; */
}

.inputCapitalType{
    text-transform: capitalize !important;
    /* justify-content: center; */
    /* align-items: ; */
    width: 90px;
    /* height: 30px; */
    /* text-align: center; */
}

/* "linear-gradient(rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.5))" */

.badge-container {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
  }
  
  

  .my-swal {
    z-index: 99999999 !important;
  }